TMAT_SVEBB_Indi_SVEBB_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
TMAT_SVEBB_Indi_SVEBB_MA_Method={{ ma_method | default(0) }}
TMAT_SVEBB_Indi_SVEBB_Period={{ (period | default(0) | int) }}
TMAT_SVEBB_Indi_SVEBB_Shift={{ shift | default(0) }}
TMAT_SVEBB_LotSize={{ lot_size | default(0) }}
TMAT_SVEBB_PriceStopLevel,1=10
TMAT_SVEBB_PriceStopLevel,2=5
TMAT_SVEBB_PriceStopLevel,3=40
TMAT_SVEBB_PriceStopLevel,F=1
TMAT_SVEBB_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
TMAT_SVEBB_PriceStopMethod={{ price_stop_method | default(0) }}
TMAT_SVEBB_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
TMAT_SVEBB_SignalCloseMethod={{ signal_close_method | default(0) }}
TMAT_SVEBB_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
TMAT_SVEBB_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
TMAT_SVEBB_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
TMAT_SVEBB_SignalOpenMethod={{ signal_open_method | default(0) }}
TMAT_SVEBB_TickFilterMethod={{ tick_filter_method | default(1) }}
