TMAT_SVEBB_Indi_SVEBB_Shift,1=0
TMAT_SVEBB_Indi_SVEBB_Shift,2=1
TMAT_SVEBB_Indi_SVEBB_Shift,3=4
TMAT_SVEBB_Indi_SVEBB_Shift,F=1
TMAT_SVEBB_Indi_SVEBB_Shift={{ (shift | default(0) | int) }}
TMAT_SVEBB_SignalOpenFilterMethod=1
TMAT_SVEBB_TickFilterMethod=1
TMA_SignalOpenLevel={{ signal_open_level | default(0) | float }}
